@model Raffle.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
 @Html.AntiForgeryToken()
 @Html.ValidationSummary()



    <fieldset>
        <legend>set password</legend>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">
                        <i class="icon-lock"></i>
                    </span>
                    @Html.PasswordFor(m => m.NewPassword, new { placeholder = "new password" })
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">
                        <i class="icon-lock"></i>
                    </span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "confirm new password" })
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="set password" />
    </fieldset>
}
