@model Raffle.Models.UserProfile
@{
    ViewBag.Title = "Dashboard";
}

<div class="page-header">
    <h1>dashboard
        <small>manage your raffles and items</small>
    </h1>
</div>

<div>
    <h2>raffles
        <small>recently bought</small>
        @Html.ActionLink("More", "NA", null, new { @class = "btn btn-primary" })
    </h2>

    <ul class="thumbnails">
        @foreach (var raffle in (IQueryable<Raffle.Models.Raffle>)@ViewBag.LastPurchases)
        {
            Html.RenderPartial("_ItemPreviewPartial", raffle.Item);
        }
    </ul>
</div>

<div>
    <h2>items
        <small>recently added</small>
        @Html.ActionLink("More", "NA", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Sell", "Create", "Item", null, new { @class = "btn btn-info" })
    </h2>

    <ul class="thumbnails">
        @foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.MyItems)
        {
            Html.RenderPartial("_ItemPreviewPartial", item);
        }
    </ul>
</div>
