@{
    ViewBag.Title = "Login Failed";
}

<div class="container">
    <div class="row-fluid">
        <div class="well span7 offset2 text-center">
            <h1>
                @ViewBag.Title
                <small>Unsuccessful login with service</small>
            </h1>
        </div>
    </div>
</div>
