@model bool
@{
    ViewBag.Title = "Paypal Return";
}

@if (Model)
{
    <h1>
        success
        <small>paypal confirmed your payment</small>
    </h1>
    
    <div class="lead">you have been credited with the purchased package</div>
}
else 
{
    <h1>
        failed
        <small>an error has occurred</small>
    </h1>
    
    <div class="lead">this payment has already been processed</div>
}
