@model IList<Raffle.Models.Item>
@{
    ViewBag.Title = "Ending Soon";
}

<h1>ending soon
        <small>Almost raffled</small>
</h1>

@if (Model.Count != 0)
{ 
<ul class="thumbnails">
    @foreach (var item in Model)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
</ul>
}
else
{
    <div class="lead">no results</div>
}