@model IList<Raffle.Models.Item>
@{
    ViewBag.Title = "What's New";
}

<h1>what's new
        <small>recently added</small>
</h1>

@if (Model.Count != 0)
{ 
<ul class="thumbnails">
    @foreach (var item in Model)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
</ul>
}
else
{
    <div class="lead">no results</div>
}
