@{
    ViewBag.Title = "Raffle";
}

<h1>ending soon
        <small>Almost raffled items</small>
</h1>

<ul class="thumbnails">
    @foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.CloseCall)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
</ul>

<h1>recent
        <small>recently added items</small>
</h1>

<ul class="thumbnails">
    @foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.Latest)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
</ul>
