@{
    ViewBag.Title = "Main";
}

<div class="container">
    <div class="row-fluid">
        <div class="span12">

            <ul class="nav nav-tabs">
                <li class="active">
                    @Html.ActionLink("Recent", "Index", "Home")
                </li>
            </ul>

            <h1>ending soon
        <small>Almost raffled items</small>
            </h1>

            <ul class="thumbnails">
                @foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.CloseCall)
                {
                    Html.RenderPartial("_ItemPreviewPartial", item);
                }
            </ul>

            <h1>recent
        <small>recently added items</small>
            </h1>

            <ul class="thumbnails">
                @foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.Latest)
                {
                    Html.RenderPartial("_ItemPreviewPartial", item);
                }
            </ul>
        </div>
    </div>
</div>
