@{
    ViewBag.Title = "Main";
}

<ul class="nav nav-tabs">
    <li class="active">
        @Html.ActionLink("Recent", "Index", "Home")
    </li>
</ul>

<h2>ending soon
        <small>Almost raffled items</small>
</h2>

<ul class="thumbnails">
    @foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.CloseCall)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
</ul>

<h2>recent
        <small>recently added items</small>
</h2>

<ul class="thumbnails">
    @foreach (var item in (IQueryable<Raffle.Models.Item>)@ViewBag.Latest)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
</ul>
