@model IList<Raffle.Models.Item>
@{
    ViewBag.Title = "Search";
}

<h1>search
    <small>find items by name, description or category</small>
</h1>

@if (Model.Count > 0)
{
    <ul class="thumbnails">
    @foreach (var item in Model)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
    </ul>
    
        <div class="pagination pagination-centered">
        <ul>
            @if (((bool)ViewBag.HasLess))
            { 
                <li>@Html.ActionLink("prev", "Search", new { page = (int)ViewBag.Page - 1, query = Request.QueryString["query"] })</li>
            }
            @if (((bool)ViewBag.HasMore))
            { 
                <li>@Html.ActionLink("next", "Search", new { page = (int)ViewBag.Page + 1, query = Request.QueryString["query"] })</li>
            }
        </ul>
    </div>
}
else
{
    <div class="well">
        <h2>
            sorry
            <small>your query didn't return any results</small>
        </h2>
    </div>
}