@model Raffle.Models.Item
@{
    int rafflesLeft = Model.TotalRaffleCount - Model.Raffles.Count;
    var user = ((Raffle.Models.UserProfile)ViewBag.User);
}

<li class="span2">
    <div class="thumbnail">
        <img src="http://placehold.it/160x111" alt="" />
        <div class="caption">
            <h5>@Model.Name</h5>
            @if (rafflesLeft == 0)
            {
                if (Model.Raffles.Any(r => r.IsPrized.GetValueOrDefault() && r.UserProfileId == user.UserId))
                {
                <div class="alert alert-success">
                    <strong>Prized raffle!</strong>
                </div>
                }
                else
                { 
                    <div class="alert alert-info">
                        <strong>item raffled</strong>
                    </div>
                }
            }
            else
            { 
                <h5>
                    <span class="badge badge-info">@rafflesLeft</span> @if (rafflesLeft != 1)
                                                                       {<span>raffles</span>}
                                                                       else
                                                                       {<span>raffle</span>} left
                </h5>
            }
            @Html.ActionLink("View", "Index", "Item", new { id = Model.Id }, new { @class = "btn btn-primary" })
            <h3 class="pull-right"><strong>@(Model.RafflePrice) €</strong></h3>
        </div>
    </div>
</li>
