@model Raffle.Models.Item
@{
    var totalRaffles = Model.Price + (int)(Model.Price * 0.40);
    var rafflesLeft = totalRaffles - Model.Raffles.Count;
    var user = ((Raffle.Models.UserProfile)ViewBag.User);
}

<li class="span2">
    <div class="thumbnail">
        <img src="http://placehold.it/131x91" alt="" />
        <div class="caption">
            <h5>@Model.Name</h5>
            @if (rafflesLeft == 0)
            {
                if (Model.Raffles.Any(r => r.IsPrized.GetValueOrDefault() && r.UserProfileId == user.UserId))
                {
                <h5>
                    <span class="label label-success">you won</span>
                </h5>
                }
                else
                {
                    if (Model.Raffles.Any(r => r.UserProfileId == user.UserId))
                    { 
                <h5>
                    <span class="label label-important">you lost</span>
                </h5>
                    }
                    else
                    { 
                <h5>
                    <span class="label label">item raffled</span>
                </h5>
                    }
                }
            }
            else
            { 
                <h5>
                    <span class="badge badge-info">@rafflesLeft @if (rafflesLeft != 1)
                                                                            {<span>raffles</span>}
                                                                            else
                                                                            {<span>raffle</span>} left
                </h5>
            }
            @Html.ActionLink("View", "Index", "Item", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</li>
