@model IQueryable<Raffle.Models.Item>

@{
    ViewBag.Title = "Items";
    var user = ((Raffle.Models.UserProfile)ViewBag.User);
}

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>Items
                <small>search for items</small>
            </h1>

            <ul class="thumbnails">
                @foreach (var item in Model)
                {
                    Html.RenderPartial("_ItemPreviewPartial", item);
                }
            </ul>
        </div>
    </div>
</div>