@model IQueryable<Raffle.Models.Item>

@{
    ViewBag.Title = "Items";
    var user = ((Raffle.Models.UserProfile)ViewBag.User);
}

    <h2>Items
        <small>search for items</small>
    </h2>

<ul class="thumbnails">
    @foreach (var item in Model)
    {
        Html.RenderPartial("_ItemPreviewPartial", item);
    }
</ul>
